In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
import yfinance as yf

In [4]:
# Define the stock symbol (in this case, Tesla)
stock_symbol = "TSLA"

# Define the start and end dates for the data
start_date = "2023-01-01"
end_date = "2024-01-01"

# Use yfinance to fetch the data
tesla_data = yf.download(stock_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

reset the index

In [8]:
tesla_data.reset_index(inplace=True)

In [10]:
tesla_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,118.470001,118.800003,104.639999,108.099998,108.099998,231402800
1,2023-01-04,109.110001,114.589996,107.519997,113.639999,113.639999,180389000
2,2023-01-05,110.510002,111.750000,107.160004,110.339996,110.339996,157986300
3,2023-01-06,103.000000,114.389999,101.809998,113.059998,113.059998,220911100
4,2023-01-09,118.959999,123.519997,117.110001,119.769997,119.769997,190284000

#   Webscraping to Extract Tesla Revenue Data

In [11]:
import requests
from bs4 import BeautifulSoup

In [12]:
url= 'https://www.macrotrends.net/stocks/charts/TSLA/tesla-inc/revenue'

In [23]:
tesla_data= requests.get(url)

# Parse the HTML content of the page

In [24]:
soup=BeautifulSoup(tesla_data.text,'html5lib')

In [32]:
# extract data from the table
tesla_revenue=pd.DataFrame(columns=['Date','Revenue'])

In [33]:
tesla_revenue.tail()

Empty DataFrame
Columns: [Date, Revenue]
Index: []

In [34]:
# Extract data from the table

for row in soup.find("tbody").find_all('tr'):
    col=row.find_all("td")
    date=col[0].text
    revenue=col[1].text
    
    tesla_revenue=tesla_revenue.append({'Date':date,'Revenue':revenue},ignore_index=True)

AttributeError: 'NoneType' object has no attribute 'find_all'