In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
import yfinance as yf

In [3]:
# Define the stock symbol (in this case, Tesla)
stock_symbol = "TSLA"

# Define the start and end dates for the data
start_date = "2023-01-01"
end_date = "2024-01-01"

# Use yfinance to fetch the data
tesla_data = yf.download(stock_symbol, start=start_date, end=end_date)

[*********************100%%**********************]  1 of 1 completed

reset the index

In [4]:
tesla_data.reset_index(inplace=True)

In [5]:
tesla_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-03,118.470001,118.800003,104.639999,108.099998,108.099998,231402800
1,2023-01-04,109.110001,114.589996,107.519997,113.639999,113.639999,180389000
2,2023-01-05,110.510002,111.750000,107.160004,110.339996,110.339996,157986300
3,2023-01-06,103.000000,114.389999,101.809998,113.059998,113.059998,220911100
4,2023-01-09,118.959999,123.519997,117.110001,119.769997,119.769997,190284000

#   Webscraping to Extract Tesla Revenue Data

In [6]:
import requests
from bs4 import BeautifulSoup

In [15]:
url= 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

In [38]:
tesla_data=data=requests.get(url).text

#print(tesla_data)

# Parse the HTML content of the page

In [21]:
soup=BeautifulSoup(tesla_data,'html5lib')

In [23]:
# extract data from the table

tesla_revenue=pd.read_html(url)

In [39]:
tesla_revenue_dataframe=tesla_revenue[1]  # revenue dataframe was in index 1

In [30]:
# reset the columns name to Date and Revenue
tesla_revenue_dataframe.columns=['Date','Revenue']

Execute the following line to remove the comma and dollar sign from the Revenue column.

In [32]:
tesla_revenue_dataframe['Revenue']=tesla_revenue_dataframe['Revenue'].str.replace(',|\$',"")

C:\Users\hi\AppData\Local\Temp\ipykernel_11144\61884094.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  tesla_revenue_dataframe['Revenue']=tesla_revenue_dataframe['Revenue'].str.replace(',|\$',"")

Execute the following lines to remove an null or empty strings in the Revenue column.

In [33]:
tesla_revenue_dataframe.dropna(inplace=True)

In [34]:
tesla_revenue_dataframe=tesla_revenue_dataframe[tesla_revenue_dataframe['Revenue'] !=""]

In [37]:
tesla_revenue_dataframe.tail()

          Date Revenue
48  2010-09-30      31
49  2010-06-30      28
50  2010-03-31      21
52  2009-09-30      46
53  2009-06-30      27